@model PCShopProjekt.Models.Zlecenia

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Zlecenia</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id_urzadzenia" class="control-label"></label>
                <input asp-for="Id_urzadzenia" class="form-control" />
                <span asp-validation-for="Id_urzadzenia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Id_klienta" class="control-label"></label>
                <input asp-for="Id_klienta" class="form-control" />
                <span asp-validation-for="Id_klienta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Id_technika" class="control-label"></label>
                <input asp-for="Id_technika" class="form-control" />
                <span asp-validation-for="Id_technika" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Id_uslugi" class="control-label"></label>
                <input asp-for="Id_uslugi" class="form-control" />
                <span asp-validation-for="Id_uslugi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Id_platnosci" class="control-label"></label>
                <input asp-for="Id_platnosci" class="form-control" />
                <span asp-validation-for="Id_platnosci" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data_przyjecia" class="control-label"></label>
                <input asp-for="Data_przyjecia" class="form-control" />
                <span asp-validation-for="Data_przyjecia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Opis_usterki" class="control-label"></label>
                <input asp-for="Opis_usterki" class="form-control" />
                <span asp-validation-for="Opis_usterki" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
