@model PCShopProjekt.Models.Zlecenia

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Zlecenia</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="hidden" asp-for="Id_urzadzenia" class="form-control" />
                <span asp-validation-for="Id_urzadzenia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="Id_klienta" class="form-control" />
                <span asp-validation-for="Id_klienta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Id_technika" class="control-label"></label>
                <select asp-for="Id_technika" class="form-control">
                    <option value="1">Piotr Dąbrowski</option>
                    <option value="2">Zbigniew Stonoga</option>
                    <option value="3">Łukasz Wiśniewski</option>
                    <option value="4">Adrian Wójcik</option>
                    <option value="5">Bartosz Kamiński</option>
                </select>
                <span asp-validation-for="Id_technika" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Id_uslugi" class="control-label"></label>
                <select asp-for="Id_uslugi" class="form-control">
                    <option value="1">Wymiana płyty głównej</option>
                    <option value="2">Wymiana wyświetlacza</option>
                    <option value="3">Wymiana baterii</option>
                    <option value="4">Wymiana klawiatury</option>
                    <option value="5">Reinstalajacja i konfiguracja systemu operacyjnego</option>
                    <option value="6">Czyszczenie</option>
                </select>
                <span asp-validation-for="Id_uslugi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="Id_platnosci" class="form-control" />
                <span asp-validation-for="Id_platnosci" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="Data_przyjecia" class="form-control" />
                <span asp-validation-for="Data_przyjecia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Opis_usterki" class="control-label"></label>
                <input asp-for="Opis_usterki" class="form-control" />
                <span asp-validation-for="Opis_usterki" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group pt-2">
                <input type="submit" value="Zapisz" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="pt-1">
    <a asp-action="Index">Powrót</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
